html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --font-fallback: 'Helvetica', 'Arial', sans-serif;

    --rvv: calc(1rem + 1vh + 1vw);

    --dark-blue: #0f233f;
    --light-blue: #b5ddf1;
    --orange: #f47523;

    --header-blue: #0f233f5a;
    --blue-text: #0a182b;
    --blue-text-svg-filter: invert(86%) sepia(15%) saturate(477%) hue-rotate(159deg) brightness(97%) contrast(96%);
    --selected-orange: #ef833b;
    --hover-orange: #fbb98d;
    --footer-text: #b2d7e8;

    --footer-height: calc(1.2*var(--rvv));
    --header-height: 15vh;
    --header-LR-padding: 30px;
    --header-TB-padding: 10px;
    --logo: 40px;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./fonts/josefin/josefin-regular.ttf') format("truetype supports variations"),
         url('./fonts/josefin/josefin-regular.ttf') format("truetype-variations");
    font-weight: 100 700;
}

@font-face {
    font-family: 'Helico';
    src: url('./fonts/helico_centrica/helico-centrica-roman.ttf') format('truetype');
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    color: var(--blue-text);
    font-family: 'Josefin Sans', var(--font-fallback);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background: rgb(181,230,255);
    background: radial-gradient(circle, rgba(181,230,255,0.8767123287671232) 0%, rgba(46,82,133,0.906392694063927) 100%, rgba(181,221,241,1) 100%);
}

header {
    background-color: var(--header-blue);
    height: var(--header-height);
    padding: var(--header-TB-padding) var(--header-LR-padding) 0 var(--header-LR-padding);
    border-bottom: 1px solid var(--blue-text);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: calc(0.5*var(--header-height)) calc(0.5*var(--header-height));
    grid-template-areas:
        "logo social"
        "logo nav";
}

.logo-container {
    grid-area: logo;
    height: var(--header-height);
    position: relative;
}

.logo-img {
    cursor: pointer;
    height: 100%;
    width: auto;
}

nav {
    grid-area: nav;
    display: none;
}

.nav-links {
    margin-left: 40px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 40px;
    list-style: none;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 350;
    cursor: pointer;
    background-color: var(--light-blue);
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
    /* border: 0.75px solid var(--dark-blue) */
}

.nav-link:hover:not(.selected-nav) {
    background-color: var(--hover-orange);
}

.mobile-menu {
    position: absolute;
    top: calc(var(--header-height) + var(--header-TB-padding) + 1px);
    width: 100vw;
    background-color: var(--light-blue);
    border-bottom: 1px solid black;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 5px 0;
}

.mobile-nav-link {
    cursor: pointer;
    padding: calc(0.5*var(--rvv));
    height: calc(var(--rvv));
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .mobile-nav-link.selected-nav {
    border: 0.75px solid var(--blue-text);
} */

.mobile-nav-link:hover:not(.selected-nav) {
    background-color: var(--hover-orange);
}

.selected-nav {
    background-color: var(--selected-orange);
}

.menu-text {
    color: var(--light-blue);
    cursor: pointer;
    font-weight: 350;
    font-size: calc(0.5*var(--rvv));
}

.hamburger {
    height: 100%;
    width: fit-content;
    margin-left: auto;
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hamburger-img {
    cursor: pointer;
    margin-top: -5px;
    height: calc(0.4*var(--header-height));
    filter: var(--blue-text-svg-filter);
}

.social-links {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10px;
}

.fb-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--logo);
    width: var(--logo);
}

.fb-icon {
    cursor: pointer;
    height: 66%;
    width: 66%;
}

main {
    margin: calc(0.5*var(--rvv)) calc(var(--rvv));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(0.3*var(--rvv));
}

.body-photo {
    width: 80%;
    max-width: 800px;
    height: auto;
}

h1 {
    font-size: calc(1.2*var(--rvv));
    margin: calc(0.8*var(--rvv)) 0;
}

h2 {
    font-size: calc(0.9*var(--rvv));
    font-weight: 350;
}

h3 {
    font-size: calc(0.6*var(--rvv));
    text-decoration: underline;
}

p {
    font-size: calc(0.6*var(--rvv));
    font-weight: 350;
    line-height: 150%;
    margin-bottom: calc(0.8*var(--rvv));
}

.issue-description {
    margin-bottom: calc(0.2*var(--rvv));
}

.issue-heading {
    margin-top: calc(0.8*var(--rvv));
}

.issues-list {
    font-size: calc(0.55*var(--rvv));
    font-weight: 400;
    line-height: 175%;
    margin: 0 0 0 calc(var(--rvv));
}

.final-list {
    margin-bottom: calc(var(--rvv));
}

.involved-intro {
    margin-bottom: calc(0.4*var(--rvv));
}

.involved-text {
    margin: calc(0.1*var(--rvv)) 0;
}

.donate-button {
    cursor: pointer;
    font-size: calc(0.6*var(--rvv));
    font-weight: 375;
    margin: calc(0.5*var(--rvv)) 0;
    background-color: var(--hover-orange);
    padding: 20px;
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.donate-text {
    position: relative;
    left: 1px;
    top: 1px;
}

.embedded-form {
    align-self: center;
}

footer {
    border-top: 1px solid var(--blue-text);
    color: var(--footer-text);
    background-color: var(--header-blue);
    font-weight: 325;
    text-align: center;
    margin-top: auto;
    padding: calc(1.2*var(--header-TB-padding));
    min-height: var(--footer-height);
    display: flex;
    flex-direction: column;
    gap: calc(0.2*var(--rvv));
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: calc(0.5*var(--rvv));
    margin-bottom: 0;
}

.ssbbd {
    cursor: pointer;
}

/* desktop rules: */
@media screen and (min-width: 1000px) {

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .fb-icon {
        transition: transform 1s ease-in-out;
    }

    .fb-icon:hover {
        transform: rotate(1440deg);
    }

    main {
        margin: 0 15vw;
    }

    .donate-button {
        transition: transform 0.1s ease-in-out;
    }

    .donate-button:hover {
        transform: scale(1.1);
    }

    .ssbbd:hover {
        font-style: italic;
        color: #17e700ed;
        text-shadow: 2px 2px rgba(255, 0, 0, 0.657);
        letter-spacing: 1px;
        font-size: calc(0.6*var(--rvv));
        font-family: 'Helico';
        text-stroke: 0.5px black;
        -webkit-text-stroke: 0.5px black;
    }

    /* header {
        justify-content: flex-start;
    }

    .nav-links {
        flex-direction: row;
        height: 50%;
        align-items: flex-end;
    } */

}