html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --font-fallback: 'Helvetica', 'Arial', sans-serif;

    --rvv: calc(1rem + 1vh + 1vw);

    --table-border-radius: 10px;

    --dark-blue: #0f233f;
    --light-blue: #b5ddf1;
    --orange: #f47523;
    --flyer-orange: #ef833b8f;

    --header-blue: #0f233f5a;
    --table-blue: #0f233f3e;
    --blue-text: #0a182b;
    --chart-blue: #1025436d;
    --link-blue: #04449e;
    --footer-link-blue: #8abbff;
    --light-blue-svg-filter: invert(86%) sepia(15%) saturate(477%) hue-rotate(159deg) brightness(97%) contrast(96%);
    --dark-blue-svg-filter: invert(7%) sepia(51%) saturate(1228%) hue-rotate(182deg) brightness(93%) contrast(97%);
    --selected-orange: #ef833b;
    --hover-orange: #fbb98d;
    --link-orange: #a54301;
    --footer-text: #b2d7e8;
    --issue-bg: #b5ddf1;
    --involved-bg: #b5ddf191;

    --footer-height: calc(1.2*var(--rvv));
    --header-height: 15vh;
    --header-LR-padding: 30px;
    --header-TB-padding: 10px;
    --logo: 40px;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('./fonts/josefin/josefin-regular.ttf') format("truetype supports variations"),
         url('./fonts/josefin/josefin-regular.ttf') format("truetype-variations");
    font-weight: 100 700;
}

@font-face {
    font-family: 'Helico';
    src: url('./fonts/helico_centrica/helico-centrica-roman.ttf') format('truetype');
}

@keyframes fade-in {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

@keyframes button-hover {
    0% {
        background-color: var(--hover-orange);
    }
    100% {
        background-color: var(--selected-orange);
        transform: scale(1.1);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ssbbd-hover {
    0% {
    }
    100% {
        color: #1aff00ed; 
        text-shadow: 2px 2px rgba(255, 0, 0, 0.657);
        letter-spacing: 1px;
        font-size: calc(0.6*var(--rvv));
        -webkit-text-stroke: 0.5px black;
    }
}

@keyframes tab-hover {
    0% {
        background-color: var(--light-blue);
    }
    100% {
        background-color: var(--hover-orange);
    }
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    color: var(--blue-text);
    font-family: 'Josefin Sans', var(--font-fallback);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    background: rgb(181,230,255);
    background: radial-gradient(circle, rgba(181,230,255,0.8767123287671232) 0%, rgba(46,82,133,0.906392694063927) 100%, rgba(181,221,241,1) 100%);
}

.hide {
    display: none;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: 800;
}

header {
    background-color: var(--header-blue);
    height: var(--header-height);
    padding: var(--header-TB-padding) var(--header-LR-padding) 0 var(--header-LR-padding);
    border-bottom: 1px solid var(--blue-text);
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: calc(0.5*var(--header-height)) calc(0.5*var(--header-height));
    grid-template-areas:
        "logo ."
        "logo nav";
}

.logo-container {
    grid-area: logo;
    height: var(--header-height);
    position: relative;
    animation: 0.7s ease-in-out 0s slide-in;
    -webkit-animation: 0.7s ease-in-out 0s slide-in;
    -moz-animation: 0.7s ease-in-out 0s slide-in;
    -o-animation: 0.7s ease-in-out 0s slide-in;
    -ms-animation:  0.7s ease-in-out 0s slide-in;
}

.logo-img {
    cursor: pointer;
    height: 100%;
    width: auto;
}

nav {
    grid-area: nav;
    display: none;
}

.nav-links {
    margin-left: 38px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 35px;
    list-style: none;
}

.nav-link {
    font-size: 0.9rem;
    font-weight: 350;
    cursor: pointer;
    padding: 0 0.2rem;
    background-color: var(--light-blue);
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--dark-blue);
    border-bottom: none;
}

.nav-link:hover:not(.selected-nav) {
    animation: 0.18s linear 0s tab-hover;
    -webkit-animation: 0.18s linear 0s tab-hover;
    -moz-animation: 0.18s linear 0s tab-hover;
    -o-animation: 0.18s linear 0s tab-hover;
    -ms-animation: 0.18s linear 0s tab-hover;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    background-color: var(--hover-orange);
}

.mobile-menu {
    z-index: 2;
    position: absolute;
    top: calc(var(--header-height) + var(--header-TB-padding) + 1px);
    width: 100vw;
    background-color: var(--light-blue);
    border-bottom: 1px solid black;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 5px 0;
}

.mobile-nav-links:last-child {
    margin-bottom: calc(0.3*var(--rvv));
}

.mobile-nav-link {
    cursor: pointer;
    padding: calc(0.5*var(--rvv));
    height: calc(var(--rvv));
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blur-overlay {
    z-index: 1;
    position: absolute;
    top: calc(var(--header-height) + var(--header-TB-padding));
    width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mobile-nav-link:hover:not(.selected-nav) {
    background-color: var(--hover-orange);
}

.selected-nav {
    background-color: var(--selected-orange);
}

.menu-text {
    color: var(--light-blue);
    cursor: pointer;
    font-weight: 350;
    font-size: calc(0.5*var(--rvv));
}

.hamburger {
    height: 100%;
    width: fit-content;
    margin-left: auto;
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hamburger-img {
    cursor: pointer;
    margin-top: -5px;
    height: calc(0.4*var(--header-height));
    filter: var(--light-blue-svg-filter);
}

.social-links {
    grid-area: social;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: calc(0.15*var(--rvv));
}

.fb-icon-container,
.insta-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--logo);
    width: var(--logo);
}

.fb-icon,
.insta-icon {
    cursor: pointer;
    height: 66%;
    width: 66%;
}

main {
    animation: 1s ease-in 0s fade-in;
    -webkit-animation: 1s ease-in 0s fade-in;
    -moz-animation: 1s ease-in 0s fade-in;
    -o-animation: 1s ease-in 0s fade-in;
    -ms-animation: 1s ease-in 0s fade-in;
}

main {
    position: relative;
    margin: calc(0.5*var(--rvv)) calc(var(--rvv));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(0.3*var(--rvv));
}

.home-header {
    margin: calc(0.9*var(--rvv)) 0 calc(0.5*var(--rvv));
}

.home-subheader {
    margin-bottom: calc(0.4*var(--rvv));
}

.home-header,
.home-subheader {
    align-self: center;
    text-align: center;
}

.home-photo {
    border-radius: 15px;
    border: 1px solid black;
    align-self: center;
    width: auto;
    max-width: 80%;
    max-height: 800px;
}

.home-p {
    margin: calc(0.4*var(--rvv)) 0 0;
}

.event-link {
    align-self: center;
    width: 500px;
    max-width: 80vw;
    margin-bottom: calc(1*var(--rvv));
}

.event-flyer {
    border: 2px solid var(--blue-text);
    outline: 2px solid var(--flyer-orange);
    width: 100%;
}

.get-involved-container {
    align-self: center;
    padding: calc(0.7*var(--rvv)) calc(0.4*var(--rvv)) calc(0.6*var(--rvv));
    border-radius: 20px;
    width: 95%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border: 1px solid var(--blue-text);
    background-color: var(--involved-bg);
    margin-bottom: calc(0.8*var(--rvv));
}

.get-involved {
    cursor: pointer;
    margin-top: calc(0.3*var(--rvv));
    text-decoration: underline;
    align-self: center;
}

.get-involved:hover {
    font-style: italic;
}

.home-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: calc(var(--rvv));
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: calc(1.2*var(--rvv));
    margin: calc(1*var(--rvv)) 0 calc(0.5*var(--rvv));
}

h2 {
    font-size: calc(0.9*var(--rvv));
    font-weight: 350;
}

h3 {
    font-size: calc(0.75*var(--rvv));
    margin: calc(0.5*var(--rvv)) 0 calc(0.25*var(--rvv));
    font-weight: 350;
}

p {
    font-size: calc(0.6*var(--rvv));
    font-weight: 350;
    line-height: 150%;
    margin-bottom: calc(0.8*var(--rvv));
}

.issue-wrapper {
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    background-color: var(--issue-bg);
    padding: 0 calc(0.6*var(--rvv)) calc(0.4*var(--rvv));
    margin-bottom: calc(var(--rvv));
}

.issue-description {
    margin-bottom: calc(0.2*var(--rvv));
}

.issue-heading {
    margin: calc(0.8*var(--rvv)) 0 calc(0.3*var(--rvv));
}

.issues-list {
    font-size: calc(0.55*var(--rvv));
    font-weight: 350;
    line-height: 175%;
    margin: 0 0 0 calc(var(--rvv));
}

.learn-more {
    color: var(--orange);
    margin: calc(0.2*var(--rvv)) 0;
    text-align: right;
    font-size: calc(0.8*var(--rvv));
}

.collapse {
    display: flex;
    justify-content: flex-end;
    height: calc(1.5*var(--rvv));
}

.collapse-icon {
    cursor: pointer;
    height: 100%;
    filter: var(--dark-blue-svg-filter);
    transition: transform 0.2s ease-in-out;
}

.collapse-icon:hover {
    transform: scale(1.2);
}

.graphic-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
}

.list-item-graphic {
    width: 80%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--chart-blue);
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--blue-text);
    border-radius: 15px;
}

.chart {
    width: 100%;
    max-width: 800px;
    border: 1px solid var(--blue-text);
    border-radius: 10px;
}

.caption {
    margin-top: -5px;
    font-size: calc(0.4*var(--rvv));
    width: 85%;
    max-width: 870px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.citation-link {
    color: var(--dark-blue);
    text-align: right;
    text-decoration: none;
}

.citation-link:visited {
    color: var(--link-orange);
}

.involved-intro {
    margin-bottom: calc(0.4*var(--rvv));
}

.involved-text {
    margin: calc(0.1*var(--rvv)) 0;
}

.button {
    cursor: pointer;
    font-size: calc(0.6*var(--rvv));
    font-weight: 375;
    margin: calc(0.2*var(--rvv)) 0 calc(0.7*var(--rvv)) 0;
    background-color: var(--hover-orange);
    padding: 20px;
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.involved-donate-button {
    font-size: calc(0.7*var(--rvv));
    margin-bottom: 0;
}

.donate-text {
    position: relative;
    left: 1px;
    top: 1px;
}

.donate-link {
    color: var(--blue-text);
    text-decoration: none;
}

.donate-link:visited {
    color: var(--blue-text);
}

.donate-link-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect-text {
    align-self: center;
    text-decoration: underline;
    margin-top: calc(0.8*var(--rvv));
}

.embedded-form {
    align-self: center;
}

.inline-link {
    cursor: pointer;
    color: var(--link-blue);
    text-decoration: underline;
}

.inline-link:hover {
    font-style: italic;
}

.inline-link:visited {
    color: var(--link-orange);
}


table {
    background-color: var(--table-blue);
    padding: 1px;
    border-radius: var(--table-border-radius);
    margin-bottom: calc(var(--rvv));
    align-self: center;
}

table caption {
    text-decoration: underline;
    font-size: calc(0.7*var(--rvv));
    margin-bottom: 4px;
}

th:first-child,
td:first-child {
    text-align: right;
}

th:last-child,
td:last-child {
    text-align: left;
}

th,
td {
    background-color: var(--light-blue);
    padding: calc(0.5*var(--rvv)) calc(var(--rvv));
    font-size: calc(0.5*var(--rvv));
}

th {
    font-size: calc(0.65*var(--rvv));
}

#top-left {
    border-radius: var(--table-border-radius) 0 0 0;
}

#top-right {
    border-radius: 0 var(--table-border-radius) 0 0;
}

#bottom-left {
    border-radius: 0 0 0 var(--table-border-radius);
}

#bottom-right {
    border-radius: 0 0 var(--table-border-radius) 0;
}

.early-voting,
.election-day {
    font-size: calc(0.65*var(--rvv));
    font-weight: 450;
}

.early-voting {
    text-decoration: underline;
}

.early-voting a:hover {
    font-style: italic;
}

.early-voting a {
    color: var(--blue-text);
}

.early-voting a:visited {
    color: var(--link-orange);
}

.voting-p {
    margin: calc(0.1*var(--rvv)) 0 calc(0.3*var(--rvv));
}

.key-dates {
    margin-top: calc(0.5*var(--rvv));
}

.voting-final-p {
    margin-bottom: calc(1.5*var(--rvv));
}

/* supporters page: */

.supporters-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.add-your-name {
    font-size: calc(0.5*var(--rvv));
}

.supporters-subheading {
    max-width: 70%;
}

.supporters-list {
    margin-top: calc(0.5*var(--rvv));
}

.supporter {
    font-size: calc(0.7*var(--rvv));
}


/* contact page: */

.email-john,
.more-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-john p,
.more-info p {
    align-self: flex-start;
}

.johns-email-link,
.get-involved-button {
    margin-top: -10px;
}

.johns-email-link,
.add-your-name-button {
    text-decoration: none;
    color: var(--blue-text);
}

.johns-email-link:visited,
.add-your-name-button:visited {
    color: var(--blue-text);
}

.more-info {
    margin-top: 30px;
}


footer {
    border-top: 1px solid var(--blue-text);
    color: var(--footer-text);
    background-color: var(--header-blue);
    font-weight: 325;
    text-align: center;
    margin-top: auto;
    padding: calc(1.2*var(--header-TB-padding));
    padding-top: calc(1.6*var(--header-TB-padding));
    min-height: var(--footer-height);
    display: flex;
    flex-direction: column;
    gap: calc(0.2*var(--rvv));
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: calc(0.5*var(--rvv));
    margin-bottom: 0;
}

footer .email {
    font-size: calc(0.6*var(--rvv));
}

.email-link {
    color: var(--blue-text);
    text-decoration: none;
}

footer .email-link {
    color: var(--footer-text);
    text-decoration: underline;
}

.email-link:visited {
    color: var(--footer-text);
}

.ssbbd {
    cursor: pointer;
}

/* desktop rules: */
@media screen and (min-width: 1100px) {

    nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .email-link:hover {
        font-style: italic;
    }

    .fb-icon {
        transition: transform 1s ease-in-out;
    }

    .fb-icon:hover {
        transform: rotate(1440deg);
    }

    .insta-icon {
        transition: transform 1s ease-in-out;
    }

    .insta-icon:hover {
        transform: rotate(-1200deg);
    }

    main {
        margin: 0 15vw calc(var(--rvv));
    }

    .issue-wrapper {
        width: 100%;
    }
    
    .issue-heading {
        width: 100%;
    }

    .button:hover {
        animation: 0.2s ease-in-out 0s button-hover;
        -webkit-animation: 0.2s ease-in-out 0s button-hover;
        -moz-animation: 0.2s ease-in-out 0s button-hover;
        -o-animation: 0.2s ease-in-out 0s button-hover;
        -ms-animation: 0.2s ease-in-out 0s button-hover;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
    }

    .ssbbd:hover {
        animation: 0.1s ease-in-out 0s ssbbd-hover;
        -webkit-animation: 0.1s ease-in-out 0s ssbbd-hover;
        -moz-animation: 0.1s ease-in-out 0s ssbbd-hover;
        -o-animation: 0.1s ease-in-out 0s ssbbd-hover;
        -ms-animation: 0.1s ease-in-out 0s ssbbd-hover;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        font-style: italic;
        font-family: 'Helico';
        text-stroke: 0.5px black;   
        -webkit-text-stroke: 0.5px black;    
    }

}